<div class="lists-content">
  <h1>List of Lists</h1>
  <ul class="lists">
    <% @lists.each do |list| %>
      <li>
        <%= link_to list_path(list) do %>
          <div class="list-item">
            <%= image_tag list.image, class: "list-image" if list.image.attached? %>
            <h3><%= list.name %></h3>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= link_to "New List", new_list_path %>
</div>
