// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "lists/lists";

.background-image {//Colocar esto como imagen y no como fondo.
  position: fixed; /* Fija el contenedor en una posición fija */
  top: 0;
  left: 0;
  width: 100%; /* Establece el ancho al 100% */
  height: 50%; /* Establece la altura al 100% */
  z-index: -1; /* Coloca el contenedor detrás de todo el contenido */
  background-image: url('/assets/neom-NPDnHmYsl6Y-unsplash.jpg'); /* Ruta de la imagen */
  background-size: cover;
  background-position: center;
  //background-attachment: fixed; /* Fija la imagen de fondo */
}

.content {
  padding: 20px; /* Ajusta según sea necesario */
  margin-top: 20%;
}
